.card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 500px;
  padding: 10px;
  background-color: gainsboro;
  width: 350px;
  height: 200px;
  border-radius: 20px;
}
.card img{
  padding-right: 10px;
  border-radius: 50%;
}
.cord{
  width: 100%;
  height: 180px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
}
